.container {
  /* Uncomment this piece of code if you want to view the boundaries of the container */
  /* background-color: wheat; */
  max-width: 1150px;
  margin: 0 auto;

  padding: 1rem;
}

.container h1 {
  text-align: center;
}

.container ul {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto;

  padding: 0;
  list-style: none;
}

.container ul > li {
  background-color: white;
  list-style: none;
  border-radius: 5px;
  padding: 1rem;

  text-align: center;
}

.container ul > li > a {
  background-color: #f8b92a;
  text-decoration: none;
  padding: 1rem;
  width: 87%;
  border-radius: 5px;
  display: inline-block;

  color: white;
  font-weight: bold;
}

.container ul > li > h2 {
  margin-bottom: 0.5rem;
}

.container ul > li > p {
  margin-top: 0;
}
