{% extends 'base.html' %}

{% block head %}
<title>About the MLH fellows</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Meet the current fellows</h1>
    
    <ul>
        <li>
            <h2>Ishika</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <a href="/about/ishika">View resume</a>
        </li>
        <li>
            <h2>Frankie</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <a href="/about/frankie">View resume</a>
        </li>
        <li>
            <h2>Sebastian</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <a href="/about/sebastian">View resume</a>
        </li>
    </ul>
</div>
{% endblock %}
