{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Meet {% block fellow %}{% endblock %}, <br /> an MLH Production Engineering Fellow from Batch 3</h1>

    <div class="inner-container">
        <div class="section fellow-projects">
            {% block projects %}{% endblock %}
        </div>

        <div class="section fellow-work">
            {% block work %}{% endblock %}
        </div>

        <div class="section fellow-education">
            {% block education %}{% endblock %}
        </div>

        <div class="section fellow-skills">
            {% block skills %}{% endblock %}
        </div>

        <div class="section fellow-achievements">
            {% block achievements %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
