{% extends 'base.html' %}

{% block head %}
<title>MLH PE Fellowship Blog by Fellows</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="hero">
        <h1>
            All you need to know about the MLH Production Engineer Fellowship as
            told by current fellows
        </h1>
    </div>
      
    <section class="blogposts">
        <a class="post" href="/post">
            <h3>First week....how was it?</h3>
            <p>Ins and outs of my first week as a Production Engineer Fellow</p>
            <img>Ishika</img>
            <p>June 8 <span>10 min read</span></p>
        </a>
    
        <a class="post" href="/post"> >
            <h3>First week....how was it?</h3>
            <p>Ins and outs of my first week as a Production Engineer Fellow</p>
            <img>Ishika</img>
            <p>June 8 <span>10 min read</span></p>
        </a>
    
        <a class="post" href="/post"> 
            <h3>First week....how was it?</h3>
            <p>Ins and outs of my first week as a Production Engineer Fellow</p>
            <img>Ishika</img>
            <p>June 8 <span>10 min read</span></p>
        </a>
    </section>
</div>
{% endblock %}