{% extends 'base.html' %}

{% block head %}
    <title>Blog post</title>
{% endblock %}

{% block body %}
<div class="container" style="padding-bottom: 3rem;">
    <div class="image-container"></div>

    <div class="content-container">
        <div class="content-container_heading">
            <h2>First week....how was it?</h2>
            <p>by Ishika</p>
        </div>

        <div class="content-container_text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officiis unde dolore obcaecati, nihil nisi aperiam debitis quasi a dolorum aut labore corporis, optio ipsum ratione culpa doloremque ab mollitia!</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi iusto dolores velit hic fugiat inventore labore consequuntur suscipit quod repellat eaque accusantium, molestiae accusamus soluta rerum placeat ad. Doloremque, ut!</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam aliquid modi eius sint ullam eaque ab ut consectetur totam voluptatum optio, placeat deleniti dolore mollitia velit natus eligendi maxime vero.</p>
        </div>
    </div>
</div>
{% endblock %}