{% extends 'base.html' %}

{% block head %}
    <title>Blog post</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="image">
        <img src="http://placehold.it/">
    </div>

    <div class="content">
        <h1>First week....how was it?</h1>
        <p>by Ishika</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officiis unde dolore obcaecati, nihil nisi aperiam debitis quasi a dolorum aut labore corporis, optio ipsum ratione culpa doloremque ab mollitia!</p>
    </div>
</div>
{% endblock %}